.text {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-family-moon-bold);
}

.title {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-family-moon-bold);
}

.carouselContainer {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 100px 0 100px 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 250px;
    width: 100%;
}

.backgroundImgContainer {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.backgroundImg {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 1;
}


.carouselWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    min-height: 400px;
}

.buttonsWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    position: relative;
    width: 100%;
    padding: 10px;
    max-width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: white;
    opacity: 0.5;
    box-shadow: none;
    cursor: pointer;
}

.next::before {
    position: absolute;
    content: 'O';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;
}

.next:hover::before {
    content: 'O';
    font-size: 50px;
    color: red;
}

.next:active::before {
    content: 'O';
    font-size: 0px;
}


.animImg {
    position: absolute;
    max-width: 0;
    min-height: 0;
    z-index: 1;
    border-radius: 5%;
    top: 49.6%;
    left: 51.4%;
    transform: translate(-50%, -50%);
}

.secondBackgroundImgAnimation {
    z-index: 0;
    animation-name: animationImg;
    animation-duration: 2s;
}

.textWrapper {
    width: 40%;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.068);
    transition: 0.5s all ease-in-out;
}

.textWrapperAnimation {
    opacity: 0;
    transition: 0.5s all ease-in-out;
}


@keyframes animationImg {
    from {
        width: 10%;
        max-width: 10%;
    }

    to {
        width: 103%;
        max-width: 103%;
    }
}

@keyframes animationText {

    from {
        width: 20%;
    }

    to {
        width: 50%;
    }
}

